@charset "UTF-8";

@media screen and (max-width: 564px) {
    header {
        flex-flow: column wrap;
        justify-content: center;
    }
    header h1 {
        align-self: flex-start;
    }
    header nav{
        display: flex;
        flex-flow: column wrap;
    }
}
h1 {
}