@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: grey;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header > h1 {
    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 2em;
    padding-bottom: 0px;
    flex: 0 0 200px;
    border: 1px dotted black;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    border: 1px dotted black;
}

header a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    
}

header a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

body {
    background-color: rgb(212, 212, 212);
    height: 100vh;
}

main article {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}